/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */

body {
    font-family: sans-serif;
}

/* Macrolayout settings */
header {
    background-color: black;
    height: 70px;
    color: white;
    font-size: 15px;
    font-weight: lighter;
}

main {
    height: calc(100vh - 140px);
    background-color: black;
    overflow: auto;
}


/* Utilities */

.flex {
    display: flex;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    gap: 5px;
    flex-wrap: wrap;
}



/* Header */

.flex-header {
    justify-content: flex-end;
}

.disposition-view,
.expand {
    margin-top: 5px;
    margin-left: 5px;
    background-color: rgb(74, 74, 74);
    padding: 5px 10px;
    border-radius: 5px;
}

/* Main Layout */

.card {
    display: inline-block;
    border: 1px solid black;
    width: calc(100% / 7 - 5px);
    height: 100px;
    position: relative;
}

.card {
    background-image: url(https://picsum.photos/300/200);
}


.card .microphone {
    color: white;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}


/* Footer */


footer {
    height: 70px;
    background-color: gray
}

.footer-flex {
    justify-content: space-between;
}